/* Auth Dialogs */

.framed-user-icon {
  background-size: contain;
  border: 2px solid #eeeeec;
  color: #eeeeec;
  border-radius: 3px; }
  .framed-user-icon:hover {
    border-color: white;
    color: white; }

.login-dialog-banner-view {
  padding-top: 24px;
  max-width: 23em; }

.login-dialog {
  border: none;
  background-color: transparent; }
  .login-dialog .modal-dialog-button-box {
    spacing: 3px; }
  .login-dialog .modal-dialog-button {
    padding: 3px 18px; }
    .login-dialog .modal-dialog-button:default {
      color: #eeeeec;
      background-color: rgba(33, 93, 156, 0.5);
      border-color: rgba(0, 0, 0, 0.7);
      box-shadow: inset 0 1px #454f52;
      text-shadow: 0 1px black;
      icon-shadow: 0 1px black; }
      .login-dialog .modal-dialog-button:default:hover, .login-dialog .modal-dialog-button:default:focus {
        color: white;
        border-color: rgba(0, 0, 0, 0.7);
        background-color: rgba(33, 93, 156, 0.7);
        box-shadow: inset 0 1px #5d696d;
        text-shadow: 0 1px black;
        icon-shadow: 0 1px black; }
      .login-dialog .modal-dialog-button:default:active {
        color: white;
        border-color: rgba(0, 0, 0, 0.7);
        background-color: #1c5187;
        box-shadow: inset 0 0 black;
        text-shadow: none;
        icon-shadow: none; }
      .login-dialog .modal-dialog-button:default:insensitive {
        color: #949796;
        border-color: rgba(0, 0, 0, 0.7);
        background-color: rgba(66, 72, 73, 0.7);
        box-shadow: none;
        text-shadow: none;
        icon-shadow: none; }

.login-dialog-logo-bin {
  padding: 24px 0px; }

.login-dialog-banner {
  color: #d6d6d1; }

.login-dialog-button-box {
  spacing: 5px; }

.login-dialog-message-warning {
  color: #f57900; }

.login-dialog-message-hint {
  padding-top: 0;
  padding-bottom: 20px; }

.login-dialog-user-selection-box {
  padding: 100px 0px; }

.login-dialog-not-listed-label {
  padding-left: 2px; }
  .login-dialog-not-listed-button:focus .login-dialog-not-listed-label,
  .login-dialog-not-listed-button:hover .login-dialog-not-listed-label {
    color: #eeeeec; }

.login-dialog-not-listed-label {
  font-size: 90%;
  font-weight: bold;
  color: #a6a69b;
  padding-top: 1em; }

.login-dialog-user-list-view {
  -st-vfade-offset: 1em; }

.login-dialog-user-list {
  spacing: 12px;
  padding: .2em;
  width: 23em; }
  .login-dialog-user-list:expanded .login-dialog-user-list-item:selected {
    background-color: #215d9c;
    color: #ffffff; }
  .login-dialog-user-list:expanded .login-dialog-user-list-item:logged-in {
    border-right: 2px solid #215d9c; }

.login-dialog-user-list-item {
  border-radius: 5px;
  padding: .2em;
  color: #a6a69b; }
  .login-dialog-user-list-item:ltr {
    padding-right: 1em; }
  .login-dialog-user-list-item:rtl {
    padding-left: 1em; }
  .login-dialog-user-list-item .login-dialog-timed-login-indicator {
    height: 2px;
    margin: 2px 0 0 0;
    background-color: #eeeeec; }
  .login-dialog-user-list-item:focus .login-dialog-timed-login-indicator {
    background-color: #ffffff; }

.login-dialog-username,
.user-widget-label {
  color: #eeeeec;
  font-size: 120%;
  font-weight: bold;
  text-align: left;
  padding-left: 15px; }

.user-widget-label:ltr {
  padding-left: 18px; }

.user-widget-label:rtl {
  padding-right: 18px; }

.login-dialog-prompt-layout {
  padding-top: 24px;
  padding-bottom: 12px;
  spacing: 8px;
  width: 23em; }

.login-dialog-prompt-label {
  color: #bebeb6;
  font-size: 110%;
  padding-top: 1em; }

.login-dialog-session-list-button StIcon {
  icon-size: 1.25em; }

.login-dialog-session-list-button {
  color: #a6a69b; }
  .login-dialog-session-list-button:hover, .login-dialog-session-list-button:focus {
    color: #eeeeec; }
  .login-dialog-session-list-button:active {
    color: #747467; }