/*
 * Buttons *
 */
 
.button {
  min-height: $button_size;
  padding: 0 $large_padding;
  border-width: 0;
  border-radius: $pop_radius;
  @include font(button);
  @include button(flat-normal);
  &:hover { @include button(flat-hover); }
  &:active { @include button(flat-active); }
  &:insensitive { @include button(flat-insensitive); }
  &:focus { @include button(flat-focus); }

}

.modal-dialog-linked-button {
  min-height: $button_size * 2;
  padding: 0 $large_padding;
  border-top: $border_size solid $border_color !important;
  border-right-width: 0;
  @include font(button);
  @include button(flat-normal);
  &:hover { @include button(flat-hover); }
  &:active { @include button(flat-active); }
  &:insensitive { @include button(flat-insensitive); }
  &:focus { @include button(flat-focus); }

  &:first-child {
    border-radius: 0 0 0 $pop_radius;
  }
  &:last-child {
    border-right-width: 0;
    border-radius: 0 0 $pop_radius 0;
  }
  &:first-child:last-child {
    border-right-width: 0;
    border-radius: 0 0 $pop_radius $pop_radius;
  }
}
