/* 
 * Window Close Button *
 */

.window-close {
  padding: 4px;
  background-color: $close_button_color;
  border-radius: $circular_radius;
  color: $white;
  height: 24px;
  width: 24px;
  font-size: 5px;
  -shell-close-overlap: 14px;

  &:hover {
    background-color: mix($close_button_color, $white, 80%);
  }

  &:active {
    background-color: mix($close_button_color, $white, 60%);
  }
}