/* Window Close Button */

.window-close {
  background-image: url("resource:///org/gnome/shell/theme/close-window.svg");
  background-size: 32px;
  height: 32px;
  width: 32px;
  -shell-close-overlap: 16px; }
  .window-close:hover {
    background-image: url("resource:///org/gnome/shell/theme/close-window-hover.svg"); }
  .window-close:active {
    background-image: url("resource:///org/gnome/shell/theme/close-window-active.svg"); }