/* 
 * Dash *
 */
 
#dash {
  font-size: 10pt;
  color: $inverse_fg_color;
  background-color: rgba($inverse_bg_color, 0.85);
  border-radius: 0 $pop_radius $pop_radius 0; 
}
  #dash:rtl {
    border-radius: $pop_radius 0 0 $pop_radius;
  }
  
  #dash .placeholder {
    background-image: url("assets/dash-placeholder.svg");
    background-size: .5*$small_icon_size;
    height: .5*$small_icon_size; 
  }
  
  #dash .empty-dash-drop-target {
    width: 24px;
    height: 24px; 
  }

.dash-item-container {
  padding: 8px;
  
  > StWidget {
    padding: 0;
  } 
  
  StIcon {
    padding-bottom: 6px;
  }
}

.dash-label {
  border-radius: $pop_radius;
  padding: $mini_padding $standard_padding;
  color: $inverse_fg_color;
  background-color: $inverse_bg_color;
  text-align: center;
  -x-offset: 8px; 
}