/* Dash */
 
#dash {
  font-size: 9pt;
  color: #eeeeec;
  background-color: #2e3436;
  padding: 4px 0;
  border: 1px solid rgba(128, 128, 128, 0.4);
  border-left: 0px;
  border-radius: 0px 9px 9px 0px; }
  #dash:rtl {
    border-radius: 9px 0 0 9px; }
  #dash .placeholder {
    background-image: url("resource:///org/gnome/shell/theme/dash-placeholder.svg");
    background-size: contain;
    height: 24px; }
  #dash .empty-dash-drop-target {
    width: 24px;
    height: 24px; }

.dash-item-container > StWidget {
  padding: 4px 8px; }

.dash-label {
  border-radius: 7px;
  padding: 4px 12px;
  color: #eeeeec;
  background-color: rgba(46, 52, 54, 0.7);
  text-align: center;
  -x-offset: 8px; }