/***********
 * Entries *
 ***********/

StEntry {
  border-radius: $pop_radius;
  padding: 0 $small_padding;
  border-width: 0;
  border-radius: $pop_radius;
  selection-background-color: $primary_color;
  selected-color: $white;
  @include entry(normal);
  
  &:focus { @include entry(focus); }
  &:insensitive { @include entry(insensitive); }
  
  StIcon.capslock-warning {
    icon-size: $small_size;
    warning-color: $warning_color;
    padding: 0 $tiny_padding; 
  }
}
