/*
 * Entries *
 */

StEntry {
  border-radius: $pop_radius $pop_radius 0 0;
  padding: $tiny_padding $standard_padding;
  border-width: 0;
  selection-background-color: $primary_color;
  selected-color: $white;
  @include entry(normal);
  min-height: $medium_size;
  
  &:focus { @include entry(focus); }
  &:insensitive { @include entry(insensitive); }
  
  StIcon.capslock-warning {
    icon-size: $small_size;
    warning-color: $warning_color;
    padding: 0 $tiny_padding; 
  }
}
