/* 
 * IBus Candidate Popup *
 */

.candidate-popup-content {
  padding: 0.5em;
  spacing: 0.3em;
  background-color: $bg_color;
  border-radius: $pop_radius;
  box-shadow: $shadow_3;
}

.candidate-index {
  padding: 2*$mini_padding;
  margin-right: $small_padding;
  color: $inverse_fg_color;
  border-radius: $pop_radius;
  
  background-color: rgba($inverse_bg_color, 0.5);
}

.candidate-box {
  padding: 0.3em 0.5em 0.3em 0.5em;
  border-radius: 4px;
  
  &:selected,
  &:hover { 
    background-color: $accent_color; 
  }
}

.candidate-page-button-box {
  height: 2em;
  
  .vertical & { 
    padding-top: 0.5em; 
  }
  
  .horizontal & { 
    padding-left: 0.5em; 
  }
}

.candidate-page-button {
  padding: 4px;
}

.candidate-page-button-previous { 
  border-radius: 4px 0px 0px 4px; 
  border-right-width: 0; 
}
.candidate-page-button-next { 
  border-radius: 0px 4px 4px 0px;  
}
.candidate-page-button-icon { 
  icon-size: 1em; 
}