/* Message list */
.message-list {
  width: 31.5em; }

.message-list-clear-button.button {
  background-color: transparent;
  margin: 1.5em 1.5em 0; }
  .message-list-clear-button.button:hover, .message-list-clear-button.button:focus {
    background-color: #454c4c; }

.message-list-sections {
  spacing: 1em; }

.message-list-section,
.message-list-section-list {
  spacing: 0.4em; }

.message {
  border-radius: 3px; }
  .message:hover, .message:focus {
    background-color: #454c4c; }

.message-icon-bin {
  padding: 0.68em 0.2em 0.68em 0.68em; }
  .message-icon-bin:rtl {
    padding: 0.68em 0.68em 0.68em 0.2em; }

.message-icon-bin > StIcon {
  color: #bebeb6;
  icon-size: 1.09em;
  -st-icon-style: symbolic; }

.message-secondary-bin {
  padding: 0 0.82em; }

.message-secondary-bin > .event-time {
  color: #8e8e80;
  font-size: 0.7em;
  /* HACK: the label should be baseline-aligned with a 1em label,
                     fake this with some bottom padding */
  padding-bottom: 0.13em; }

.message-secondary-bin > StIcon {
  icon-size: 1.09em; }

.message-title {
  color: #e2e2df; }

.message-content {
  color: #bebeb6;
  padding: 10px; }

.message-media-control {
  padding: 12px;
  color: #bebeb6; }
  .message-media-control:last-child:ltr {
    padding-right: 18px; }
  .message-media-control:last-child:rtl {
    padding-left: 18px; }
  .message-media-control:hover {
    color: #eeeeec; }
  .message-media-control:insensitive {
    color: #8e8e80; }

.media-message-cover-icon {
  icon-size: 48px !important; }
  .media-message-cover-icon.fallback {
    color: #515a5a;
    background-color: #393f3f;
    border: 2px solid #393f3f;
    border-radius: 2px;
    icon-size: 16px;
    padding: 8px; }/* Message list */
.message-list {
  width: 31.5em; }

.message-list-clear-button.button {
  background-color: transparent;
  margin: 1.5em 1.5em 0; }
  .message-list-clear-button.button:hover, .message-list-clear-button.button:focus {
    background-color: #454c4c; }

.message-list-sections {
  spacing: 1em; }

.message-list-section,
.message-list-section-list {
  spacing: 0.4em; }

.message {
  border-radius: 3px; }
  .message:hover, .message:focus {
    background-color: #454c4c; }

.message-icon-bin {
  padding: 0.68em 0.2em 0.68em 0.68em; }
  .message-icon-bin:rtl {
    padding: 0.68em 0.68em 0.68em 0.2em; }

.message-icon-bin > StIcon {
  color: #bebeb6;
  icon-size: 1.09em;
  -st-icon-style: symbolic; }

.message-secondary-bin {
  padding: 0 0.82em; }

.message-secondary-bin > .event-time {
  color: #8e8e80;
  font-size: 0.7em;
  /* HACK: the label should be baseline-aligned with a 1em label,
                     fake this with some bottom padding */
  padding-bottom: 0.13em; }

.message-secondary-bin > StIcon {
  icon-size: 1.09em; }

.message-title {
  color: #e2e2df; }

.message-content {
  color: #bebeb6;
  padding: 10px; }

.message-media-control {
  padding: 12px;
  color: #bebeb6; }
  .message-media-control:last-child:ltr {
    padding-right: 18px; }
  .message-media-control:last-child:rtl {
    padding-left: 18px; }
  .message-media-control:hover {
    color: #eeeeec; }
  .message-media-control:insensitive {
    color: #8e8e80; }

.media-message-cover-icon {
  icon-size: 48px !important; }
  .media-message-cover-icon.fallback {
    color: #515a5a;
    background-color: #393f3f;
    border: 2px solid #393f3f;
    border-radius: 2px;
    icon-size: 16px;
    padding: 8px; }