/* links */
.shell-link {
  color: #4a90d9; }
  .shell-link:hover {
    color: #74aae2; }

/* Eeeky things */
.magnifier-zoom-region {
  border: 2px solid #215d9c; }
  .magnifier-zoom-region.full-screen {
    border-width: 0; }