/* 
 * Modal Dialogs *
 */
 
.headline {
  font-size: 110%; 
}

.lightbox {
  background-color: $inverse_bg_color; 
}

.flashspot {
  background-color: $inverse_fg_color; 
}

.modal-dialog {
  border-radius: $pop_radius;
  color: $fg_color;
  background-color: $bg_color;
  box-shadow: $shadow_4;
  border: none;
  //width: $modal_size;
  
  .modal-dialog-content-box {
    padding: $huge_padding; 
  }
  
  .run-dialog-entry {
    width: $entry_size+5em;
    margin-bottom: $small_padding; 
    font-size: 12pt;
  }
  
  .run-dialog-error-box {
    padding-top: $large_padding;
    spacing: $tiny_padding; 
  }
  
  .run-dialog-button-box {
    padding-top: $standard_padding; 
  }
  
  .run-dialog-label {
    font-size: 14pt;
    font-weight: 300;
    color: $fg_color;
    padding-bottom: $tiny_padding; 
  }
}

.mount-dialog-subject,
.end-session-dialog-subject {
  font-size: 14pt; 
}

/* Message Dialog */
.message-dialog-main-layout {
  padding: $standard_padding $huge_padding 0;
  spacing: $standard_padding; 
}

.message-dialog-content {
  max-width: $modal_size;
  spacing: $huge_padding; 
}

.message-dialog-icon {
  min-width: $large_icon_size;
  icon-size: $large_icon_size; 
}

.message-dialog-title {
  font-weight: 300;
  font-size: 14pt; 
  color: $fg_color;
}

.message-dialog-subtitle {
  color: $secondary_fg_color;
  font-weight: 600; 
}

/* End Session Dialog */
.end-session-dialog { 
  spacing: $huge_padding*2; 
}

.end-session-dialog-list { 
  padding-top: $huge_padding; 
}

.end-session-dialog-layout {
  padding-left: $large_padding; 
  &:rtl {
    padding-right: $large_padding; 
  }
}

.end-session-dialog-description {
  padding-bottom: $standard_padding; 
  color: $secondary_fg_color;
  &:rtl {
    text-align: right; 
  }
}

.end-session-dialog-warning {
  color: $error_color;
  padding-top: $tiny_padding; 
  &:rtl {
    text-align: right; 
  }
}

.end-session-dialog-logout-icon {
  border-radius: $pop_radius;
  width: $large_icon_size;
  height: $large_icon_size;
  background-size: contain; 
}

.end-session-dialog-shutdown-icon {
  color: $secondary_fg_color;
  width: $large_icon_size;
  height: $large_icon_size; 
}

.end-session-dialog-inhibitor-layout {
  spacing: $large_padding;
  max-height: $modal_size*2;
  padding-right: $huge_padding*3;
  padding-left: $huge_padding*3; 
}

.end-session-dialog-session-list,
.end-session-dialog-app-list {
  spacing: $standard_padding; 
}
.end-session-dialog-list-header {
  font-weight: 500;
  font-size: 12pt;
  &:rtl {
    text-align: right; }
}

.end-session-dialog-app-list-item,
.end-session-dialog-session-list-item {
  spacing: $standard_padding; 
}

.end-session-dialog-app-list-item-name,
.end-session-dialog-session-list-item-name {
  font-size: 12pt;
  font-weight: 400; 
}

.end-session-dialog-app-list-item-description {
  padding-top: $tiny_padding;
  font-size: 10pt; 
  font-weight: 500;
}

/* ShellMountOperation Dialogs */
.shell-mount-operation-icon {
  icon-size: $large_icon_size; 
}

.mount-dialog {
  spacing: $huge_padding; 
  .message-dialog-title {
    padding-top: $standard_padding;
    padding-left: $large_padding;
    padding-bottom: $tiny_padding;
    &:rtl {
      padding-left: 0;
      padding-right: $large_padding; 
    }
  }
  
  .message-dialog-body {
    padding-left: $large_padding;
    &:rtl {
      padding-left: 0;
      padding-right: $large_padding;  
    }
  }
}

.mount-dialog-app-list {
  max-height: $modal_size;
  padding-top: $huge_padding;
  padding-left: $huge_padding*2;
  padding-right: $large_padding*2; 
  :rtl {
    padding-right: $huge_padding*2;
    padding-left: $large_padding*2; 
  }
}

.mount-dialog-app-list-item {
  color: $secondary_fg_color; 
  
  &:hover {
    color: rgba($fg_color, 0.5); 
  }
  
  &:ltr {
    padding-right: $standard_padding; 
  }
  &:rtl {
    padding-left: $standard_padding; 
  }
}

.mount-dialog-app-list-item-icon{
  &:ltr { padding-right: 17px; }
  &:rtl { padding-left: 17px; }
}

.mount-dialog-app-list-item-name { font-size: 10pt; }


/* Password or Authentication Dialog */
.prompt-dialog {
  
  .message-dialog-main-layout {
    spacing: $huge_padding;
    padding: $standard_padding; 
  }
  
  .message-dialog-content {
    spacing: $large_padding; 
  }
  
  .message-dialog-title {
    color: $fg_color;
    font-size: 14pt;
    font-weight: 300; 
  }
}

.prompt-dialog-description:rtl {
  text-align: right; 
}

.prompt-dialog-password-box {
  spacing: $standard_padding;
  padding-bottom: $standard_padding; 
}

.prompt-dialog-error-label {
  font-size: 10pt;
  color: $error_color;
  padding-bottom: $small_padding; 
}

.prompt-dialog-info-label {
  font-size: 10pt;
  padding-bottom: $small_padding; 
}

.hidden {
  color: transparent; 
}

.prompt-dialog-null-label {
  font-size: 10pt;
  padding-bottom: $small_padding; 
}

/* Polkit Dialog */
.polkit-dialog-user-layout {
  padding-left: $standard_padding;
  spacing: $standard_padding; 
  font-size: 14pt;
  font-weight: 300;
  &:rtl {
    padding-left: 0;
    padding-right: $standard_padding; 
  }
}

.polkit-dialog-user-root-label {
  color: red; 
}

.polkit-dialog-user-icon {
  border-radius: $circular_radius;
  background-size: contain;
  width: $large_icon_size;
  height: $large_icon_size; 
}

/* Audio selection dialog */
.audio-device-selection-dialog {
  spacing: 30px; 
}

.audio-selection-content {
  spacing: 20px;
  padding: $huge_padding; 
}

.audio-selection-title {
  font-size: 14pt;
  font-weight: 300;
  text-align: center; }

.audio-selection-box {
  spacing: 20px; 
}

.audio-selection-device {
  border-radius: $pop-radius; 
  .audio-selection-device:active, 
  .audio-selection-device:hover, 
  .audio-selection-device:focus {
    background-color: $accent_color; 
  }
}

.audio-selection-device-box {
  padding: 20px;
  spacing: 20px; }

.audio-selection-device-icon {
  icon-size: $large_icon_size; }

/* Access Dialog */
.access-dialog {
  spacing: 30px; 
}

/* Geolocation Dialog */
.geolocation-dialog {
  spacing: 30px; 
}

/* Extension Dialog */
.extension-dialog .message-dialog-main-layout {
  spacing: 24px;
  padding: 10px; 
}

.extension-dialog .message-dialog-title {
  color: $fg_color;
  font-size: 14pt;
  font-weight: 300; 
}

/* Inhibit-Shortcuts Dialog */
.inhibit-shortcuts-dialog {
  spacing: 30px; 
}

/* Network Agent Dialog */
.network-dialog-secret-table {
  spacing-rows: 15px;
  spacing-columns: 1em; 
}

.keyring-dialog-control-table {
  spacing-rows: 15px;
  spacing-columns: 1em; 
}