/* TOP BAR */
#panel {
  background-color: $panel_bg_color;
  background-image: none;
  border-color: transparent;
  /* transition from solid to transparent */
  transition-duration: 500ms;
  font-weight: bold;
  height: em(24px); }
  #panel.unlock-screen, #panel.login-screen, #panel.lock-screen {
    background-color: transparent; }
  #panel #panelLeft, #panel #panelCenter {
    spacing: 4px; }
  #panel .panel-corner {
    -panel-corner-radius: $pop_radius;
    -panel-corner-background-color: $panel_bg_color;
    -panel-corner-border-width: 2px;
    -panel-corner-border-color: transparent; }
    #panel .panel-corner:active, #panel .panel-corner:overview, #panel .panel-corner:focus {
      -panel-corner-border-color: #256ab1; }
    #panel .panel-corner.lock-screen, #panel .panel-corner.login-screen, #panel .panel-corner.unlock-screen {
      -panel-corner-radius: 0;
      -panel-corner-background-color: transparent;
      -panel-corner-border-color: transparent; }
  #panel .panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: bold;
    color: #eee;
    transition-duration: 100ms; }
    #panel .panel-button .app-menu-icon {
      -st-icon-style: symbolic;
      margin-left: 4px;
      margin-right: 4px; }
    #panel .panel-button:hover {
      color: white }
    #panel .panel-button:active, #panel .panel-button:overview, #panel .panel-button:focus, #panel .panel-button:checked {
      box-shadow: inset 0 -2px 0px #256ab1;
      color: white; }
    #panel .panel-button .system-status-icon {
      icon-size: 1.09em;
      padding: 0 5px; }
    .unlock-screen #panel .panel-button,
    .login-screen #panel .panel-button,
    .lock-screen #panel .panel-button {
      color: white; }
      .unlock-screen #panel .panel-button:focus, .unlock-screen #panel .panel-button:hover, .unlock-screen #panel .panel-button:active,
      .login-screen #panel .panel-button:focus,
      .login-screen #panel .panel-button:hover,
      .login-screen #panel .panel-button:active,
      .lock-screen #panel .panel-button:focus,
      .lock-screen #panel .panel-button:hover,
      .lock-screen #panel .panel-button:active {
        color: white; }
  #panel .panel-status-indicators-box,
  #panel .panel-status-menu-box {
    spacing: 2px; }
  #panel .power-status.panel-status-indicators-box {
    spacing: 0; }
  #panel .screencast-indicator {
    color: #f57900; }
  #panel.solid {
    background-color: $panel_bg_color;
    /* transition from transparent to solid */
    transition-duration: 300ms; }
    #panel.solid .panel-corner {
      -panel-corner-background-color: $panel_bg_color; }
    #panel.solid .panel-button {
      color: #ccc;
      text-shadow: none; }
      #panel.solid .panel-button:hover, #panel.solid .panel-button:active, #panel.solid .panel-button:overview, #panel.solid .panel-button:focus, #panel.solid .panel-button:checked {
        color: white; }

.system-switch-user-submenu-icon.user-icon {
  icon-size: 20px;
  padding: 0 2px; }

.system-switch-user-submenu-icon.default-icon {
  icon-size: 16px;
  padding: 0 4px; }

#appMenu {
  spinner-image: url("resource:///org/gnome/shell/theme/process-working.svg");
  spacing: 4px; }
  #appMenu .label-shadow {
    color: transparent; }



.system-menu-action {
  color: $secondary_fg_color;
  border-radius: 32px;
  /* wish we could do 50% */
  padding: 14px; }
  .system-menu-action:hover, .system-menu-action:focus {
    background-color: $disabled_secondary_fg_color;
    color: $fg_color;
    border: none;
    padding: 14px; }
  .system-menu-action:active {
    background-color: $accent_color;
    color: $inverse_fg_color; }
  .system-menu-action > StIcon {
    icon-size: 16px; }

.popup-menu-arrow {
  width: 16px;
  height: 16px; }

.popup-menu-icon {
  icon-size: 1.09em; }