/* 
 * Panel *
 */
 
#panel {
  background-color: $panel_bg_color;
  background-image: none;
  font-weight: 400;
  box-shadow: $shadow_2;
  height: em($panel_size); 
  
  &.unlock-screen, 
  &.login-screen, 
  &.lock-screen {
    background-color: rgba($panel_bg_color, 0.85); 
  }
  #panelLeft, 
  #panelCenter {
    spacing: $small_padding; 
  }

  .panel-corner {
    -panel-corner-radius: $pop_radius;
    -panel-corner-background-color: $panel_bg_color;
    -panel-corner-border-width: $line_size;
    -panel-corner-border-color: transparent; 
  
    &:active, 
    &:overview, 
    &:focus {
      -panel-corner-border-color: $panel_bg_color; 
    }
    &.lock-screen, 
    &.login-screen, 
    &.unlock-screen {
      -panel-corner-radius: 0;
      -panel-corner-background-color: transparent;
      -panel-corner-border-color: transparent; 
    }
  }
  
  .panel-button {
    -natural-hpadding: 12px;
    -minimum-hpadding: 6px;
    font-weight: 700;
    color: rgba($inverse_fg_color, 0.85); 
  
    
    &:hover { color: $inverse_fg_color; }
    
    &:active, 
    &:overview, 
    &:focus, 
    &:checked {
      box-shadow: inset 0 -1*$line_size 0px $accent_color;
      border-bottom: $line_size solid $accent_color;
      color: $inverse_fg_color; 
    }
    
    .app-menu-icon {
      -st-icon-style: symbolic;
      margin-left: $mini_padding;
      margin-right: $mini_padding; 
    }
    .system-status-icon {
      icon-size: 4px+$small_icon_size;
      padding: 0 0.1em+$mini_padding; 
    }
    .unlock-screen #panel .panel-button,
    .login-screen #panel .panel-button,
    .lock-screen #panel .panel-button {
      color: $inverse_fg_color; 

      &:focus,
      &:hover,
      &:active { color: $inverse_fg_color; }
    }
  }
  
  &.solid {
    background-color: $panel_bg_color; 
    box-shadow: none;
  
    .panel-corner {
      -panel-corner-background-color: $panel_bg_color; 
    }
    
    .panel-button {
      color: rgba($inverse_fg_color, 0.85);
    
      &:hover,
      &:active, 
      &:overview, 
      &:focus,
      &:checked {
        color: $inverse_fg_color; 
      }
    }
  }
  
  .panel-status-indicators-box,
  .panel-status-menu-box { 
    spacing: $mini_padding; 
  }
  
  .power-status.panel-status-indicators-box { 
    spacing: 0; 
  }
  
  .screencast-indicator {
    color: $error_color; 
  }
  
}

#appMenu {
  spinner-image: url("assets/process-working.svg");
  spacing: 4px; 
  
  .label-shadow {
    color: transparent; 
  }
}



.popup-menu-arrow {
  width: 0px;
  height: 0px;
  
  #appMenu & {
    width: 16px;
    height: 16px;
  } 
  
  .aggregate-menu & {
    width: 16px;
    height: 16px;
  }
}

.popup-menu-icon {
  icon-size: 1.09em; 
}