/* 
 * Popovers/Menus * 
 */
 
.popup-menu {
  min-width: $popup_size; 
  background-color: $bg_color;
  border: none;
  border-radius: $pop_radius;
  box-shadow: $shadow_3;
  margin: $tiny_padding;
  
  .popup-sub-menu {
    background-color: $darker_bg_color;
  }
  
  .popup-menu-content {
    padding: $standard_padding 0; 
  }
  
  .popup-menu-item {
    color: $fg_color;
    spacing: $standard_padding; 
    
    &:ltr {
      padding: .4em 1.75em .4em 0em; }
    &:rtl {
      padding: .4em 0em .4em 1.75em; }
      
    &:checked,
    &:checked.selected { 
      color: $inverse_fg_color;
      background-color: darken($accent_color, 7%); 
    }
    
    &.selected {
      background-color: $darker_bg_color;
    }
    
    &:active {
      background-color: $darker_bg_color;
    }
    
    &:insensitive {
      color: $disabled_fg_color; 
    }
  }
  
  .popup-inactive-menu-item {
    color: $secondary_fg_color; 
    &:insensitive {
      color: $disabled_fg_color; 
    }
  }
  
  &.panel-menu {
    -boxpointer-gap: $no_padding;
    margin-bottom: $large_padding; 
  }
}

.popup-menu-ornament {
  text-align: right;
  width: $popup_ornament_size; 
}

.popup-separator-menu-item {
  height: $border_size;
  margin: $small_padding $huge_padding+.5em;
  background-color: transparent;
  border-color: $border_color;
  border-bottom-width: $border_size;
  border-bottom-style: solid; 
}

/* fallback menu
- odd thing for styling App menu when apparently not running under shell. Light Adwaita styled
  app menu inside the main app window itself rather than the top bar
*/