/* Ripple */

.ripple-box {
  width: 52px;
  height: 52px;
  background-image: url("assets/corner-ripple-ltr.svg");
  background-size: contain; 

  .ripple-box:rtl {
    background-image: url("assets/corner-ripple-rtl.svg"); 
  }
}