/* 
 * Switches *
 */
 
.toggle-switch {
  width: 42px;
  height: 20px;
  background-size: 44px 22px;
  background-clip: content-box;
}

.toggle-switch-us,
.toggle-switch-intl {
  background-image: url("assets/switch-off.svg");
  
  &:checked {
    background-image: url("assets/switch-on.svg");
  }
}
