/* Switches */
.toggle-switch {
  width: 65px;
  height: 22px;
  background-size: contain; }

.toggle-switch-us {
  background-image: url("resource:///org/gnome/shell/theme/toggle-off-us.svg"); }
  .toggle-switch-us:checked {
    background-image: url("resource:///org/gnome/shell/theme/toggle-on-us.svg"); }

.toggle-switch-intl {
  background-image: url("resource:///org/gnome/shell/theme/toggle-off-intl.svg"); }
  .toggle-switch-intl:checked {
    background-image: url("resource:///org/gnome/shell/theme/toggle-on-intl.svg"); }