/* 
 * Switches *
 */
 
.toggle-switch {
  width: 54px;
  height: 31px;
  background-size: 50px 27px;
}

.toggle-switch-us,
.toggle-switch-intl {
  background-image: url("assets/switch-off.svg");
  
  &:checked {
    background-image: url("assets/switch-on.svg");
  }
}
