/* 
 *Tiled window previews *
 */
 
.tile-preview {
  background-color: rgba($accent_color, 0.5); 
}

.tile-preview-left.on-primary {
  border-radius: $pop_radius 0 0 0; 
}

.tile-preview-right.on-primary {
  border-radius: 0 $pop_radius 0 0; 
}

.tile-preview-left.tile-preview-right.on-primary {
  border-radius: $pop_radius $pop_radius 0 0; 
}