/* Tiled window previews */
.tile-preview {
  background-color: rgba(33, 93, 156, 0.5);
  border: 1px solid #215d9c; }

.tile-preview-left.on-primary {
  border-radius: 6px 0 0 0; }

.tile-preview-right.on-primary {
  border-radius: 0 6px 0 0; }

.tile-preview-left.tile-preview-right.on-primary {
  border-radius: 6px 6px 0 0; }