Source: pop-gnome-shell-theme
Section: gnome
Priority: optional
Maintainer: Jeremy Soller <jeremy@system76.com>
Uploaders: Ian Santopietro <ian@system76.com>
Build-Depends: debhelper (>= 9),
	       automake,
	       autoconf,
	       libtool,
	       pkg-config,
	       sassc (>= 3.3.2),
	       inkscape | inkscape-trunk,
	       optipng,
	       parallel,
	       libglib2.0-dev (>= 2.48.0),
	       libgdk-pixbuf2.0-dev (>= 2.32.2),
	       librsvg2-dev (>= 2.40.13),
	       libxml2-utils,
	       gnome-shell
Standards-Version: 3.9.8
Homepage: https://github.com/system76/pop-gtk-theme


Package: pop-gnome-shell-theme
Architecture: all
Depends: gnome-shell-common, pop-gtk-theme
Description: The Pop GNOME Shell theme, installed for GDM.
