/* 
 * Slider *
 */

.slider {
  height: 1em;
  color: $primary_color;
  -slider-height: 0.3em;
  -slider-background-color: $track_color;
  -slider-border-color: transparent;
  -slider-active-background-color: $primary_color;
  -slider-active-border-color: transparent;
  -slider-border-width: 1px;
  -slider-handle-radius: 6px; 
}